<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}



<h1>Это пример реализации таблицы</h1>

<h2>Таблица</h2>
<table>

    <head>
        <tr>
            <th>название</th>
            <th>цена</th>
            <th>количество</th>
        </tr>
    </head>
    <tbody>
        <tr>
            <td>книга</td>
            <td>10</td>
            <td>40</td>
        </tr>
        <tr>
            <td>блокнот</td>
            <td>20</td>
            <td>15</td>
        </tr>
        <tr>
            <td>ручка</td>
            <td>35</td>
            <td>60</td>
        </tr>


    </tbody>

</table>

<!-- Простой скрипт на JavaScript -->
<script>
    // Выводим сообщение в консоль браузера
    console.log("Это тестовый скрипт!");

    // Приветствуем пользователя при загрузке страницы
    alert("Добро пожаловать на страницу!");
</script>
{% endblock %}