<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}



<h1>Это вторая страничка</h1>
 <!-- Простой скрипт на JavaScript -->
 <form method="POST">
    <label for="user_text">Введите ваш текст:</label><br>
    <input type="text" id="user_text" name="user_text" placeholder="Введите ваш текст"><br><br>
    <input type="submit" value="Отправить">
</form>
 





 <script>
    // Выводим сообщение в консоль браузера
    console.log("Это тестовый скрипт!");
    
    // Приветствуем пользователя при загрузке страницы
    alert("Добро пожаловать на страницу!");
</script>
{% endblock %}