<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}



<h1>Это вторая страничка</h1>
<!-- Простой скрипт на JavaScript -->

    {% if data %} <!-- если есть данные -->
        <p>Your input data: {{ data }}</p> <!-- в качестве параграфа выводит текст с данными-->
    {% endif %}
    <form method="POST">
        <label for="input_data">Enter some text:</label><br>
        <input type="text" id="input_data" name="input_data"><br><br>
        <button type="submit">Submit</button>
    </form>





<script>
    // Выводим сообщение в консоль браузера
    console.log("Это тестовый скрипт!");

    // Приветствуем пользователя при загрузке страницы
    alert("Добро пожаловать на страницу!");
</script>
{% endblock %}