<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}



<h1>Это третья страничка</h1>
<!-- Простой скрипт на JavaScript -->
<a href="https://rutube.ru/video/b632fa043743d400cce817a17ef59624/?r=wd">rutube</a>

<div>
    <iframe width="720" height="405" src="https://rutube.ru/play/embed/b632fa043743d400cce817a17ef59624/" frameBorder="0"
    allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>





<script>
    // Выводим сообщение в консоль браузера
    console.log("Это тестовый скрипт!");

    // Приветствуем пользователя при загрузке страницы
    alert("Добро пожаловать на страницу!");
</script>
{% endblock %}