<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}

<h1>Это третья страничка</h1>

<!-- Если есть ссылки, начинаем цикл -->
{% if links %}
<div class="container">
    {% for link in links %}
    <!-- Вывод каждой ссылки в отдельный параграф -->
    <div class="video-item">
        <div class="video-player">
            <!-- Подставляем ссылку в атрибут src -->
            <iframe width="720" height="405" src="{{ link }}" frameborder="0" allow="autoplay; clipboard-write"
                allowfullscreen></iframe>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<!-- Сообщение, если ссылок нет -->
<p>Ссылки отсутствуют.</p>
{% endif %} 

{% endblock %}