<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}
<header class="header" style="text-align: center;">
    <button>кнопка 1</button>
    <button>кнопка 2</button>
    <button>кнопка 3</button>



</header>


<h1>Привет мир!</h1>
 <!-- Простой скрипт на JavaScript -->
 <script>
    // Выводим сообщение в консоль браузера
    console.log("Это тестовый скрипт!");
    
    // Приветствуем пользователя при загрузке страницы
    alert("Добро пожаловать на страницу!");
</script>
{% endblock %}