<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}


<!-- Заголовок 1 уровня можно использовать только 1 раз-->
<h1>Привет мир!</h1>
<!-- Заголовок 2-6 уровня можно использовать несколько раз-->
<h2>Это моя страничка</h2>

<main class="main">
    <p>Меня зовут Марсель, я учусь программировать</p>
</main>

 <!-- Простой скрипт на JavaScript -->
 <script>
    // Выводим сообщение в консоль браузера
    console.log("Это тестовый скрипт!");
    
    // Приветствуем пользователя при загрузке страницы
    alert("Добро пожаловать на страницу!");
</script>
{% endblock %}