<!-- templates/index.html -->
{% extends 'base/base.html' %}

{% block body %}
<h1>Искусство программирования</h1>

<p>Программирование – это искусство создания алгоритмов и их воплощения в виде кода. Это процесс, который требует не
    только технических знаний, но и творческого подхода. Каждый программист создает свои уникальные решения, используя
    различные языки программирования.</p>

<img src="code.jpg" alt="Код на экране компьютера">

<p>В мире существует множество языков программирования, каждый из которых имеет свои особенности и предназначение.
    Некоторые из них лучше подходят для веб-разработки, другие – для разработки мобильных приложений или игр. Выбор
    языка зависит от задачи, которую необходимо решить.</p>

<p>Чтобы стать хорошим программистом, важно не только знать синтаксис языка, но и понимать принципы работы компьютеров,
    уметь анализировать проблемы и находить оптимальные решения. Программирование – это постоянное обучение и
    совершенствование своих навыков.</p>
{% endblock %}